* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}
.main-container {
  width: 100vmax;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/bg-01-free-img.jpg") no-repeat center center;
  background-size: 100% 100%;
  background-attachment: fixed;
}

header {
  width: 100%;
  height: 131px;
}

.first-nav {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-nav img {
  width: 160px;
  height: 35px;
}

.second-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.second-nav ul {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  list-style: none;
}

ul li a {
  color: white;
  font-size: 18px;

  text-decoration: none;
  left: 20s;
  font-family: Cabin, sans-serif;
}

ul li a:hover {
  border-bottom: 2px solid;
  transition: all;
}

.icon i {
  color: white;
}

.hero-section {
  margin-top: 100px;
  margin-left: 100px;
  margin-bottom: 30px;
  width: 740px;
  height: 392px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.first-text {
  color: #fff;
  font-size: 20px;
  font-family: Montserrat, sans-serif;
}

.second-text {
  color: #fff;
  font-size: 40px;
  font-family: Montserrat, sans-serif;
}

.third-text {
  color: #fff;
  font-family: Montserrat, sans-serif;
}

.hero-btn button {
  padding: 15px 35px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
}
.hero-btn button:hover {
  transition: 1s;
  color: gray;
}

.main-text {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.main-text p {
  font-size: 20px;
  font-weight: bold;
}

.main-text h1 {
  font-size: 40px;
  font-weight: bold;
}

.cart {
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
}

.card-container {
  width: 250px;
  height: 391px;
  /* display: flex;
  flex-direction: column; */
}

.card-container p {
  color: gray;
}

.card-container h5 {
  font-family: Montserrat, sans-serif;
  font-size: 15px;
}
.card-container i {
  color: #fff;
}

.image-holder img {
  width: 250px;
  height: 200px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.section3 {
  margin-top: 100px;
  width: 100%;
  height: 836px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.first-content {
  width: 1200px;
  height: 444px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  width: 600px;
  height: 444px;
  object-fit: cover;
  overflow: hidden;
  object-position: 50% 50%;
}

.first-content .text {
  width: 600px;
  height: 444px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.first-content .text button {
  padding: 15px 40px;
  color: #fff;
  background-color: #269fb7;
  border: none;
  border-radius: 1px;
  font-size: 15px;
}

.second-content {
  width: 1200px;
  height: 214px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.box1 {
  width: 329px;
  height: 212px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.box1 img {
  width: 50px;
  height: 50px;
  color: #269fb7;
}

.box2 {
  width: 329px;
  height: 212px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.box2 img {
  width: 50px;
  height: 50px;
  color: #269fb7;
}

.box3 {
  width: 329px;
  height: 212px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.box3 img {
  width: 50px;
  height: 50px;
  color: #269fb7;
}

.slider {
  margin: 60px 0 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sticky-hero {
  width: 100%;
  height: 586px;
  background: url("./img/bg-03-free-img.png") no-repeat center center;
  background-size: 100% 100%;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.writtings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-family: Montserrat, sans-serif;
}

.writtings p {
  font-size: 20px;
  font-weight: bold;
}

.writtings h3 {
  font-size: 40px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.profile img {
  width: 65px;
  height: 60px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}

.main-text2 {
  margin: 50px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.main-text2 p {
  font-size: 20px;
  font-weight: bold;
}

.main-text2 h1 {
  font-size: 40px;
  font-weight: bold;
}

.near-footer {
  width: 1338px;
  height: 238px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.signup-txt {
  font-size: 20px;
  font-family: Montserrat, sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#input-id {
  padding: 20px 200px 20px 20px;
  border: none !important;
  outline: none;
  box-shadow: 2px 2px 4px 4px #ccc;
}

.form button {
  padding: 10px 20px;
  background-color: #269fb7;
  border: 1px solid transparent;
}

footer {
  width: 100%;
  height: 450px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.first-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  width: 1303px;
  height: 138px;
  margin-top: 50px;
}

.line1 {
  width: 368px;
  height: 138px;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.line2 img {
  width: 200px;
  display: flex;
  align-items: start;
  justify-content: center;
}

.line3 {
  width: 368px;
  height: 138px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  color: #fff;
}

.second-footer {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  width: 100%;
  height: 102px;
}

.last-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  width: 1203px;
  height: 100px;
}

.copyrights {
  color: #fff;
  width: 570px;
}

.socials i {
  width: 570px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  color: #fff;
  gap: 20px;
}
